{% load static from staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>WebBlog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
                <div class="auth">
                    {% if user.is_authenticated %}

                    <li>User:{{user.get_username}}</li>


                    <div class="child"><form class="logout-link" action="{% url 'accounts:logout' %}" method="post">

                            {% csrf_token %}

                            <button type="submit" class="btn btn-dark">Logout</button>
                            </form>

                    </div>
                    {% else %}

                    <div class="child">
                        <form class="login link" action="{% url 'accounts:login' %}?next={{request.path}}">
                            <button type="submit" class="btn btn-dark">
                                Login
                            </button>
                        </form>
                    </div>
                    <div class="child">
                        <form class="signup" action="{% url 'accounts:signup' %}?next={{request.path}}">
                            <button type="submit" class="btn btn-dark">
                                Signup
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
    <ul class="nav">
		<li><a href="{% url 'Blog:index' %}">Posts</a></li>
		<li><a href="{% url 'accounts:users' %}">Authors</a></li>
		<li><a href="{% url 'Blog:about' %}">About</a></li>
	</ul>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>