{% extends 'main.html' %}

{% block content %}
    <h2 align="center">Posts</h2>
        <br>
        <div class="list-group">
        {% for Post in latest_post_list %}
            <a href="{% url 'Blog:detail' Post.pk %}" class="list-group-item list-group-item-action"><h5 align="center">{{ Post.theme }}</h5></a>
        {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="creat">
            <a href="{% url 'Blog:create' %}">Create a new post</a>
        </div>
        {% else %}
        <br>
        <h6>Please, login to create the post</h6>
        {% endif %}
{% endblock %}